body {
    background-color: black;
    color: white;
    text-align: center;
}

.ball {
    height: 100px;
    width: 100px;
    background-color: coral;
    margin: auto;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}